.page-header {
  background-color: #1c1f27;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  @media (min-width: 768px) {
    height: 76px;
    position: static;
  }


}

