.btn {
  border-radius: 29.3px;
  box-shadow: 0 5px 11px 3px rgba(0, 0, 0, 0.2);
  border: solid 0.9px #ffffff;
  background-image: linear-gradient(269deg, #EB4F5E 0%, #9F0720 100%);
  color: #fff;
  height: 59px;
  width: 100%;
  display: none;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.8px;
  justify-content: center;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;

  &.ios {
    @media (min-width: 768px) {
      margin-bottom: 28px;
    }
  }

  & svg {
    margin-right: 16px;
    fill: #fff;
  }

  &:hover, &:focus {
    color: #ad142b;
    background-color: #fff;
    border: solid 0.9px #ad142b;
    background-image: none;
    & svg {
      fill: #ad142b;
    }
  }

  &--outlined {
    background-color: #fff;
    //border-image-source: linear-gradient(to left, #eb4f5e 100%, #9f0720 0%);
    //border-image-slice: 1;
    border-width: 2px;
    border-color: #9f0720;
    background-image: none;
    box-shadow: none;
    color: #ad142b;

    & svg {
      fill: #ad142b;
    }

    &:hover, &:focus {
      background-image: linear-gradient(to left, #eb4f5e 100%, #9f0720 0%);
      border: solid 0.9px #ffffff;
      box-shadow: 0 5px 11px 3px rgba(0, 0, 0, 0.2);
      color: #fff;

      & svg {
        fill: #fff;
      }
    }
  }
}
