.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px ) {

  }

  @media (min-width: 1440px ) {
    width: 1200px;
  }



  &--header {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  &--desktop {
    padding-left: 10px;
    padding-right: 10px;
  }
}